{% load core_tags %}
{% block extra_head %}
<script>
    alert('Hello world!');
</script>
{% endblock %}

<h1>

    <p>
        {% queryset_filter post_model id=22 title__icontains="a" %}
    </p>

    {{ tags|join:',' }}
    {% include_some %}
    <p>
        {% formula 1 2 3 %}
    </p>

    {{ posts.not_existing.method }}<br>

    {{ lst.0|alarm }}<br>

    {{ dct.name }} - {{ dct.age }} <br>

    {{ dct.keys }} <br>
    {% with a=11 %}
        {% if a > 10 %}
            <p>{{a}}</p>
        {% endif %}
    {% endwith %}

    <!--{% with post_list=posts|make_list|join:"<br>"|upper %}-->
        <!--{{ post_list }}-->
    <!--{% endwith %}-->
    {{ request }}
    <p>
        {#{% if posts|length %}#}
        {{ 10|multi:2 }}
        {{ posts|join:",<br>" }}
        {{ posts|default:"No posts!" }}
    </p>

    {% for post in posts %}

        {% include "test_tpl.html" with a=10 b=20 %}

        {{ forloop.counter }}. {{ post }}{% if not forloop.last %},{% endif %}<br>
        {% if forloop.counter > 10 %}
            !!!!
        {% elif forloop.counter < 5 %}
            ΩΩΩΩ
        {% else %}
            ????
        {% endif %}
    {% empty %}
        No posts!!!
    {% endfor %}
    <p>
    It is {% now "jS F Y H:i" %}
    </p>

    {% verbatim %}
        {{ posts }}
    {% endverbatim %}


</h1>